.appointment {
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        max-width: 400px;
        height: auto;
        border-radius: 12px;
        border: 0.8px solid var(--border-color);
        background-color: rgba(166, 205, 213, 0.75);
        margin: 50px 0 0 100px;
        padding: 30px 40px;
        @media (max-width: 578px) {
            width: 100%;
            margin: 200px 0;
            padding: 10px 20px;
        }
    }
    &__text {
        color: var(--footer-color);
        font-size: 20px;
        line-height: 26px;
    }
}
