.blog {
    padding: 60px 0;
    &__title {
        h2 {
            text-align: center;
            color: var(--title-color);
            font-size: 28px;
            line-height: 34px;
            letter-spacing: normal;
            font-weight: 700;
        }
        &:focus {
            outline: 1px solid var(--title-color);
            padding: 5px 10px;
            border-radius: 12px;
        }
    }
    &__wrapper {
        margin: 40px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
        @media (max-width: 576px) {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }
    &__article {
        &_title {
            color: var(--title-color);
        }
        &_content {
            margin: 30px 0;
            float: right;
            @media (max-width: 576px) {
                margin: 20px 0;
            }
        }
        &_img {
            width: 300px;
            aspect-ratio: 2/3;
            border-radius: 12px;
            margin: 0 0 20px 20px;
            float: right;
            @media (max-width: 576px) {
                width: 200px;
                margin: 0 0 10px 10px;
            }
        }

        &_text {
            display: inline;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: var(--text-color);
            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }
}
